body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(65deg,#ffb6c1,#98ff98,#ffdab9);
  /* background-image: url('./hacker-bg.jpg'); */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}